.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-in-out;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    width: 500px;
    height: 400px;
    perspective: 1000px;
    left: 50%;
    transform: translate(-50%, -70%);
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
  }
  
  input:checked ~ .modal-overlay {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }
  input:checked ~ .modal-overlay .modal {
    transform: translate(-50%, -50%);
  }

  .olexe-modal-button {
    padding: 20px;
    border-radius: 15px;
    background-color: var(--olexe-dark-green);
    color: white;
  }

  .olexe-modal-button:hover {
    transition: background-color 300ms ease-in-out;
    background-color: #002929;
    cursor: pointer;
  }

  #modal-title {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
  }
  .close-modal {
    float: right;
  }